body {
  background-color: lightcyan;
}

.webpageTitle {
  text-align: center;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-width: medium;
  border-color: lightsalmon;
  border-style: solid;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:  15px;
  padding-bottom:  15px;
  background-color: white;
}

.tweetMsg{
    margin-left: 10px;
    margin-right: 10px;
}

.tweetUsername{
    font-weight: bold;
}

.tweetUsername:hover{
    text-decoration: underline;
    color: darkslategrey;
    font-weight:  bolder;
}

.tweetTimestamp{
    color: lightblue;
    font-size: small;
}

#refreshFeed{
    border-style: none;  
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: lightsalmon;
    color: darkslategray;
    margin-bottom: 10px;
    float: right;
}
